<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../assets/ngsquare.png" alt="logo">
    </a>
    <button class="navbar-toggler collapsed" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    **<div class="collapse navbar-collapse">**
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
