<div>
    <h1>Lista de ESTUDIANTES</h1>
    <button type="button" [routerLink]="['/estudiante/crear/']">Crear nuevo Producto</button>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of estudiante">
                <td>{{e.id}}</td>
                <td>{{e.nombre}}</td>
                <td>
                    <button type="button" (click)='this.estudianteService.delete(e.id)'>Eliminar</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>