<div>
    <div class="text-center">
        <h1>Actualizar Estudiante</h1>
    </div>
   
    <form [formGroup]="estudianteForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input  type="text" formControlName="nombre" class="form-control" placeholder="Inregese Nombre">
            <label for="apellido">Apellido</label>
            <input  type="text" formControlName="apellido" class="form-control" placeholder="Inregese Apellido">
            <label for="cedula">Cedula</label>
            <input  type="text" formControlName="cedula" class="form-control" placeholder="Inregese Cedula">
            <label for="edad">Edad</label>
            <input  type="text" formControlName="edad" class="form-control" placeholder="Inregese Edad">
         </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
    <br>
    <a [routerLink]="['/estudiante/nombre/']" type="button" class="btn btn-dark">Regresar</a>
</div>
    
